
<h4>Formulario <small> Agregar Prohibición </small></h4>
<hr>

<form  autocomplete="off"  [formGroup]="forma"  (ngSubmit)="guardar()">
    
    <div  class="form-group row">
    <label  class="col-2 col-form-label">DNI</label>
    <div  class="col-8">
    <input  class="form-control"
    type="text"
    placeholder="Número de Documento"
    formControlName="dni"
    >
    </div> </div> 
    
    <div  class="form-group row">
        <label  class="col-2 col-form-label">Apellido</label>
        <div  class="col-8">
        <input  class="form-control"
        type="text"
        placeholder="Apellido"
        formControlName="apellido"></div>
    </div>
    
    <div  class="form-group row">
        <label  class="col-2 col-form-label">Apellido</label>
        <div  class="col-8">
        <input  class="form-control"
        type="text"
        placeholder="Nombre"
        formControlName="nombre"></div>
    </div>

    <div  class="form-group row">
        <label  class="col-2 col-form-label">Sexo</label>
        <div  class="col-8">
        <input  class="form-control"
        type="text"
        placeholder="ingrese el sexo"
        formControlName="sexo"
        ></div>
        </div>



    <div  class="form-group row">
        <label  class="col-2 col-form-label">Categoría</label>
        <div  class="col-8">
        <input  class="form-control"
        type="text"
        placeholder="Adulto - Menor"
        formControlName="categoria"
        ></div>
    </div>

    <div  class="form-group row">
        <label  class="col-2 col-form-label">Motivo de Prohibición</label>
        <div  class="col-8">
        <input  class="form-control"
        type="text"
        placeholder="datos de prohibición"
        formControlName="motivo"
        ></div>
    </div>
     
    <div  class="form-group row">
        <label  class="col-2 col-form-label">&nbsp;</label>
        <div  class="input-group col-md-8">
        <button  type="submit"  class="btn btn-outline-primary btn-block">
        Guardar
        </button></div>
    </div>
</form>

<hr>
<pre>
Estado del Formulario: {{forma.valid}}
<br>
Status: {{forma.status}}
</pre>
<pre>
{{forma.value | json}}
</pre>